<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arnold.itsosgadda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.arnold.itsosgadda.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.arnold.itsosgadda.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.arnold.itsosgadda.MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StoryActivity"
            android:configChanges="locale"
            android:label="@string/label_our_story" />
        <activity
            android:name=".activities.SpecStorySectionActivity"
            android:configChanges="locale"
            android:label="@string/label_study_addresses" />
        <activity
            android:name=".activities.LSActivity"
            android:configChanges="locale"
            android:label="@string/label_lsa" />
        <activity
            android:name=".activities.ITActivity"
            android:configChanges="locale"
            android:label="@string/label_it_tlc" />
        <activity
            android:name=".activities.RSSReaderActivity"
            android:configChanges="locale"
            android:label="@string/label_appblog" />
        <activity
            android:name=".activities.ContentPostActivity"
            android:configChanges="locale"
            android:label="@string/label_appblog_detailed" />
        <activity
            android:name=".activities.AFMActivity"
            android:configChanges="locale"
            android:label="@string/label_afm" />
        <activity
            android:name=".activities.MATActivity"
            android:configChanges="locale"
            android:label="@string/label_mat" />
        <activity
            android:name=".activities.EmailSendingActivity"
            android:configChanges="locale"
            android:label="@string/label_send_email_to_staff" />
        <activity
            android:name=".activities.SendBugCrashReport"
            android:configChanges="locale"
            android:label="@string/label_send_bug_crash_report" />
        <activity
            android:name=".activities.WebRegistryActivity"
            android:configChanges="locale"
            android:label="@string/label_e_registry" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".handlers.MapsLoader"
            android:label="@string/title_activity_maps" />
        <activity android:name=".main.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.arnold.itsosgadda" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pushbots.push.DefaultPushHandler" />

        <service android:name="com.pushbots.push.GCMIntentService" />

        <activity
            android:name=".activities.ComWebActivity"
            android:configChanges="locale"
            android:label="@string/communications_news" />
        <activity
            android:name=".activities.YouTubeActivity"
            android:configChanges="locale"
            android:label="@string/label_youtube" />
    </application>

</manifest>