<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arnold.itsosgadda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.example.arnold.itsosgadda.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".services.PushBotsService"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:node="replace">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1278172190039555~6139425027" />
        <activity
            android:name=".main.MainActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/app_name">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:configChanges="locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StoryActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_our_story" />
        <activity
            android:name=".activities.SpecStorySectionActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_study_addresses" />
        <activity
            android:name=".activities.LSActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_lsa" />
        <activity
            android:name=".activities.ITActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_it_tlc" />
        <activity
            android:name=".activities.RSSReaderActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_appblog" />
        <activity
            android:name=".activities.ContentPostActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_appblog_detailed" />
        <activity
            android:name=".activities.AFMActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_afm" />
        <activity
            android:name=".activities.MATActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_mat" />
        <activity
            android:name=".activities.EmailSendingActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_send_email_to_staff" />
        <activity
            android:name=".activities.SendBugCrashReport"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_send_bug_crash_report" />
        <activity
            android:name=".activities.WebRegistryActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/label_e_registry" />
        <activity
            android:name=".handlers.MapsLoader"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.ComWebActivity"
            android:configChanges="locale"
            android:exported="true"
            android:label="@string/communications_news" />
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" />

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>
</manifest>